<% @courses.each do |c| %>
	<div class="card">
	  <div class="card-block">
	    <p class="card-text"><%= c.name %></p>
	  </div>
	  <%= image_tag("https://big-ben.herokuapp.com#{c.image}", size: "318x180") %>
	  <div class="card-block">
	    <p class="card-text">description</p>
	  </div>
	</div>
<% end %>

